﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="HybridConnectionDemo.aspx.cs" Inherits="WelyAspnetWebForm.HybridConnectionDemo" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    Connection String: <asp:TextBox ID="txtConnectionString" runat="server" Width="800px" Text="server=wely-lenovox1ca,1433;database=sampledatabase;User ID=demo2;Password=pass@word1;"></asp:TextBox> <br /> 
    <asp:Button Text="Refresh" ID="btnRefresh" runat="server" OnClick="btnRefresh_Click" />
    <br /> <br />
    <asp:GridView ID="GridView1" runat="server"></asp:GridView>
</asp:Content>
