﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Video.aspx.cs" Inherits="WelyAspnetWebForm.Video" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    
</asp:Content>
